In [1]:
import sqlite3
connection = sqlite3.connect(":memory:")

In [33]:
cursor = connection.cursor()
cursor.execute("CREATE TABLE kitten (name TEXT, id INTEGER, kitten_number INTEGER)")

OperationalError: table kitten already exists

In [20]:
cursor.execute("SELECT * FROM kitten").fetchall()

[]

In [9]:
kitten_name = "TauPiPhi"
kitten_id = 12345678
kitten_number = 0
cursor.execute(
    "UPDATE kitten SET name = ? kitten_number = ? WHERE id = ?",
    (kitten_name, kitten_number, kitten_id)
)

OperationalError: near "kitten_number": syntax error

In [46]:
rows = cursor.execute("SELECT kitten_number FROM kitten").fetchall()

10

In [63]:
temp1 = list(range(0,max([i[0] for i in rows])+1))
temp2 = [-1,0,1,2,10]
min(list(set(temp1) - set(temp2)))

3

In [42]:
max(rows)

(10,)

In [69]:
kitten = cursor.execute("SELECT name, id, kitten_number FROM kitten WHERE id == 12345678").fetchone()
print(kitten)
print(kitten==None)

('TauPiPhi', 12345678, 0)
False

In [26]:
kitten_name = "TauPiPhi"
kitten_id = 123456789999
kitten_number = 10
cursor.execute("INSERT INTO kitten VALUES (?, ?, ?)",
              (kitten_name, kitten_id, kitten_number)
)

In [19]:
kitten_id = 12345678
cursor.execute(
    "DELETE FROM kitten WHERE id = ?",
    (kitten_id,)
)